@model MVC_Model.Models.Employee

@{
    ViewBag.Title = "View Model (Format)";
}

<h2>@ViewBag.Title</h2>
<br>
<h3>@ViewBag.Message</h3>
<br>
<h4>@ViewBag.Message2</h4>
<br>
<p>@Html.DisplayNameFor(m => Model.FirstName):@Html.Raw("&nbsp;")@Html.DisplayFor(m => Model.FirstName)</p>
<p>@Html.DisplayNameFor(m => Model.MiddleName):@Html.Raw("&nbsp;")@Html.DisplayFor(m => Model.MiddleName)</p>
<p>@Html.DisplayNameFor(m => Model.LastName):@Html.Raw("&nbsp;")@Html.DisplayFor(m => Model.LastName)</p>
<p>@Html.DisplayNameFor(m => Model.Email):@Html.Raw("&nbsp;")@Html.DisplayFor(m => Model.Email)</p>
<p>@Html.DisplayNameFor(m => Model.Birthday):@Html.Raw("&nbsp;")@Html.DisplayFor(m => Model.Birthday)</p>